@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

:root {
  --clr-1: #00292d;
  --clr-2: #004e57;
  --clr-3: #008695;
  --clr-4: #236c66;
  --clr-5: #00cb84;
}

/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: lightslategray;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: whitesmoke;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

.logo {
  font-size: 2rem;
}

.logo:hover {
  cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* SECTIONS */

section {
  padding-top: 4vh;
/* height: 96vs */
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
  color: whitesmoke;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}

/* ABOUT SECTION */

#about {
  position: relative;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 2rem;
}

.arrow{
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
  z-index: -1;
}


.details-container {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.section__pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

/* EXPERIENCE SECTION */

#experience {
  position: relative;
}

.experience-sub-title {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 10rem;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
}

/* PROJECTS SECTION */

#projects {
  position: relative;
}

.color-container {
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
}

.project-img {
  border-radius: 2rem;
  width: 90%;
  height: 90%;
}

.project-title {
  margin: 1rem;
  color: black;
}

.project-btn {
  color: black;
  border-color: rgb(163, 163, 163);
}

/* CONTACT */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}

/* FOOTER SECTION */

footer {
  height: 26vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s ease-in-out;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}



img.NYU {
  width: 175px;
  height: 175px;
  border-radius: 50%;
}

img.Baruch {
  width: 175px;
  height: 175px;
  border-radius: 50%;
}






#main {
  width: 800px;
  height: 300px;
  margin: auto; 
}

#outer-circle {
  -webkit-box-shadow: 0 0 50px 10px #fdfdfd;
  -moz-box-shadow: 0 0 50px 10px #a847d9;
  box-shadow: 0 0 50px 10px #999999;
  border: 10px solid #c5c5c5;
  border-top-color:#6a3d8e;
  margin: 20% auto;
  text-align:center;
  background: -webkit-linear-gradient(top, #ffffff 48%, #ecebfa 49%, #ecebfa 51%, #fff 52%);
  background: -moz-linear-gradient(top, #ffffff 48%, #ecebfa 49%, #ecebfa 51%, #fff 52%);
  background: linear-gradient(to bottom, #ffffff 48%, #ecebfa 49%, #ecebfa 51%, #fff 52%);
  width: 220px;
  height: 220px;

  -webkit-border-radius: 220px;
  -moz-border-radius: 220px;
  border-radius: 220px;

  -webkit-animation:turning_cw 1s linear infinite;
  -moz-animation:turning_cw 1s linear infinite;
  animation:turning_cw 1.5s linear infinite;
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
  opacity: 0.7; }
  

.BARUCH-container img:hover{
  -webkit-box-shadow: 0 0 100px 15px #00183b;
  -moz-box-shadow: 0 0 100px 15px #1861ff;
  box-shadow: 0 0 100px 15px #2748a4; }

  .NYU-container img:hover{
    
    -webkit-box-shadow: 0 0 100px 15px #21003b;
    -moz-box-shadow: 0 0 100px 15px #8f18ff;
    box-shadow: 0 0 100px 15px #7027a4; }

@-webkit-keyframes aura {
  0%{
    text-shadow: 0 2px 2px #000; }
    
  50%{
    text-shadow: 0 10px 10px #000;
    line-height: 190px; }
    
  100%{
    text-shadow: 0 2px 10px #000; }
}

@-webkit-keyframes turning_cw {
  0%{
    -webkit-transform: rotate(0deg); }
  100%{
    -webkit-transform: rotate(360deg); }
}

@-webkit-keyframes turning_acw {
  0%{
    -webkit-transform: rotate(360deg); }
  100%{
    -webkit-transform: rotate(0deg); }
}

@-moz-keyframes aura {
  0%{
    text-shadow: 0 2px 2px #000; }
    
  50%{
    text-shadow: 0 10px 10px #000;
    line-height: 190px; }
    
  100%{
    text-shadow: 0 2px 10px #000; }
}

@-moz-keyframes turning_cw {
  0%{
    -moz-transform: rotate(0deg); }
  100%{
    -moz-transform: rotate(360deg); }
}

@-moz-keyframes turning_acw {
  0%{
    -moz-transform: rotate(360deg); }
  100%{
    -moz-transform: rotate(0deg); }
}

@keyframes aura {
  0%{
    text-shadow: 0 2px 2px #000; }
    
  50%{
    text-shadow: 0 10px 10px #000;
    line-height: 190px; }
    
  100%{
    text-shadow: 0 2px 10px #000; }
}

@keyframes turning_cw {
  0%{
    transform: rotate(0deg); }
  100%{
    transform: rotate(360deg); }
}

@keyframes turning_acw {
  0%{
    transform: rotate(360deg); }
  100%{
    transform: rotate(0deg); }
}



.details-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}

.about-containers > .details-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}


/* reset positioning for spinners */
 
.BARUCH-container,
.BARUCH-container #content, 
.BARUCH-container #outer-circle, 
.BARUCH-container #main,
.BARUCH-container img {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
}
.BARUCH-container, .BARUCH-container #main, .BARUCH-container #outer-circle {
  height: 120px;
  width: 120px;
}

.BARUCH-container {
  margin-top: 1em;
}

.BARUCH-container #main {
  position: absolute;
}

.BARUCH-container #outer-circle{
  position: absolute;
  top: -.63rem;
  left: -.62rem;
  right: 0;
  bottom: 0;
  border-top-color:#5350f1;
}

.BARUCH-container #content {
  position: absolute;

}

.BARUCH-container img {
  position: absolute;
  top: -1.7rem;
  left: -1.7rem;
  scale: .5;
}




/* NYU reset */

.NYU-container,
.NYU-container #content, 
.NYU-container #outer-circle, 
.NYU-container #main,
.NYU-container img {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
}

.NYU-container, .NYU-container #main, .NYU-container #outer-circle {
  height: 120px;
  width: 120px;
}

.NYU-container {
  margin-top: 1em;
}

.NYU-container #main {
  position: absolute;
}

.NYU-container #outer-circle{
  position: absolute;
  top: -.63rem;
  left: -.62rem;
  right: 0;
  bottom: 0;
}

.NYU-container #content {
  position: absolute;
}

.NYU-container img {
  position: absolute;
  top: -1.7rem;
  left: -1.7rem;
  scale: .5;
}

section.education {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0;
  margin-bottom: 1em;
}

section.education > p {
  margin: 1em 0
}

#baruch-container img:hover, #nyu-container img:hover {
  cursor: pointer;
}